body {
    background-image: url(./assets/bg.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top center;
    background-size: initial;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.966);
}